<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RecipeConnectionString" connectionString="Data Source=MEX-PC\SQLDEV;Initial Catalog=Recipe;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBLayer.Properties.Settings.RecipeConnectionString"
      connectionString="Data Source=tcp:mexahoidrecipe.database.windows.net,1433;Initial Catalog=RecipeAzure;Persist Security Info=True;User ID=Mexahoid;Password=1Fs9ZNo7Hx4Ygz3;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>